@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Urbanist:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Reggae+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Warnes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+And+White+Picture&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



*:focus {
  outline: none;
}


input:focus {
  outline: none !important;
}

body{
  height: 100vh;
  width: 100vw;
  font-family: "Commissioner", sans-serif;
  overflow-x: hidden;
margin: 0px;
background-color: '#3AAFA9'
/* position: relative; */


}

.sideMargin { 
  @apply px-4 lg:px-10 xl:px-14 2xl:px-20
}
.topSpace {
  @apply pt-[80px] 
}
.text36{
  @apply text-2xl lg:text-[30px] 2xll:text-[32px] 3xxl:text-[36px]
}

.text30{
  @apply text-2xl lg:text-[30px] 2xll:text-[31px]
}

.text32{
  @apply text-2xl lg:text-[24px] 2xll:text-[28px]
}

.text40{
  @apply  text-2xl md:text-4xl lg:text-4xl 2xll:text-[35px] 3xxl:text-[40px]
}

.text26{
  @apply text-xl lg:text-[26px]
}

.text16{
  @apply text-xl lg:text-[16px]
}


.text18{
  @apply text-base lg:text-[16px] 2xll:text-[18px]
}


.text24{
  @apply text-sm md:text-2xl lg:text-[20px] 2xll:text-base 3xxl:text-[20px]
}

.text20{
  @apply text-base md:text-xl lg:text-[18px] 2xll:text-[18px] 3xxl:text-[20px]

}

.text28{
  @apply text-xl md:text-4xl lg:text-[26px] 2xll:text-[28px] 3xxl:text-[28px]
}

.text60{
  @apply text-xl md:text-4xl lg:text-6xl 2xll:text-[50px] 3xxl:text-[60px]
}

.text80{
  @apply text-xl md:text-4xl lg:text-[72px]
}

/* .containers{
  @apply w-['95vw'] mx-auto container
} */

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 60px 0;
  background: white;
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  animation: 35s slide infinite linear;
}

.logos-slide img {
  height: 50px;
  margin: 0 40px;
}


/*  */

:root {
	--cards: 4;
	/* --cardHeight:300px; */
	--cardTopPadding:10px;
	--cardMargin: 30px;
}

.container {
	width: 100%;
	margin: 0 auto;
}

#cards {
	list-style: none;
	padding-left: 0;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(var(--cards), var(--cardHeight));
	gap: var(--cardMargin);
	padding-bottom: calc(var(--cards) * var(--cardTopPadding));
	margin-bottom: var(--cardMargin);
}

#card1 {
	--index: 0.1;
}
#card2 {
	--index: 3;
}
#card3 {
	--index: 1;
}
#card4 {
	--index: 4;
}

.card {
	position: sticky;
	top:0;
	padding-top: calc(var(--index) * var(--cardTopPadding));
}

#card1 .card-body {
	/* background-color: #52B2CF; */
}
#card2 .card-body {
	/* background-color: #7EC4CF; */
	/* background-color: #E5A36F; */
}
#card3 .card-body {
	/* background-color: #9CADCE; */
}
#card4 .card-body {
	/* background-color: #D4AFB9; */
}

.card-body {
	box-sizing: border-box;
	/* padding: 30px; */
	border-radius: 10px;
	/* box-shadow: 0 0 30px 0 rgba(0,0,0,0.3); */
	height: var(--cardHeight);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.5s;
}

h2 {
	font-size: 2.5em;
}





::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;
  height: 0px;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: transparent;
}
.horizontal-scroll-container {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  width: 100%;
  height: 100%;
  cursor: grab;
}

.horizontal-scroll-content {
  display: inline-block;
}

/* Add more styles as needed */


.hexagon {
        width: 200px;
        height: 115px; /* height = 2 * (side length) * cos(30°) */
        background-color: #ffcc00;
        position: relative;
    }
    .hexagon::before,
    .hexagon::after {
        content: '';
        position: absolute;
        width: 0;
        border-left: 100px solid transparent;
        border-right: 100px solid transparent;
    }
    .hexagon::before {
        top: -27.5px; /* -(height / 2) */
        border-bottom: 27.5px solid #ffcc00; /* (height / 2) */
    }
    .hexagon::after {
        bottom: -27.5px; /* -(height / 2) */
        border-top: 27.5px solid #ffcc00; /* (height / 2) */
    }




    .coupon {
      width: 400px;
      height: 200px;
      border-radius: 10px;
      overflow: hidden;
      /* margin: auto; */
      filter: drop-shadow(0 3px 5px rgba(0, 0, 0, 0.5));
      display: flex;
      align-items: stretch;
      position: relative;
      text-transform: uppercase;
    }
    .coupon::before,
    .coupon::after {
      content: "";
      position: absolute;
      top: 0;
      width: 50%;
      height: 100%;
      z-index: -1;
    }
    
    .coupon::before {
      left: 0;
      background-image: radial-gradient(
        circle at 0 50%,
        transparent 25px,
        gold 26px
      );
    }
    
    .coupon::after {
      right: 0;
      background-image: radial-gradient(
        circle at 100% 50%,
        transparent 25px,
        gold 26px
      );
    }
    
    .coupon > div {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .left {
      width: 20%;
      border-right: 2px dashed rgba(0, 0, 0, 0.13);
    }
    .left div {
      transform: rotate(-90deg);
      white-space: nowrap;
      font-weight: bold;
    }
    
    .center {
      flex-grow: 1;
      text-align: center;
    }
    
    .right {
      width: 120px;
      background-image: radial-gradient(
        circle at 100% 50%,
        transparent 25px,
        #fff 26px
      );
    }
    .right div {
      font-family: "Libre Barcode 128 Text", cursive;
      font-size: 2.5rem;
      font-weight: 400;
      transform: rotate(-90deg);
    }
    
    .center h2 {
      background: #000;
      color: gold;
      padding: 0 10px;
      font-size: 2.15rem;
      white-space: nowrap;
    }
    
    .center h3 {
      font-size: 2.15rem;
    }
    .center small {
      font-size: 0.625rem;
      font-weight: 600;
      letter-spacing: 2px;
    }
    
    @media screen and (max-width:500px){
      .coupon {
        display:grid;
        grid-template-columns:1fr;

      }
      .left div {
        transform: rotate(0deg);
      }
      .right div {
        transform: rotate(0deg);
        
      }
    }


    .text6 {
      text-shadow: 0 13.36px 8.896px #2B3E4C, 0 -2px 1px #E5A759;
     letter-spacing: -2px;
     color: #000000;
 }


 /* Lottery tickets css */

 /* Main Ticket Style */
.ticketContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  background:'red'
}
.ticket{
  animation: bouncingCard 0.6s ease-out infinite alternate;
  background-color: white;
  color: darkslategray;
  border-radius: 12px;
}
.ticketShadow{
  animation: bouncingShadow 0.6s ease-out infinite alternate;
  margin-top: 4px;
  width: 95%;
  height: 12px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
  filter: blur(12px);
}

/* Ticket Content */
.ticketTitle{
  font-size: 1.5rem;
  font-weight: 700;
  padding: 12px 16px 4px;
}
hr{
  width: 90%;
  border: 1px solid #efefef;
}
.ticketDetail{
  font-size: 1.1rem;
  font-weight: 500;
  padding: 4px 16px;
}
.ticketSubDetail{
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  padding: 12px 16px;
}
.ticketSubDetail .code{
  margin-right: 24px;
}

/* Ticket Ripper */
.ticketRip{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.circleLeft{
  width: 12px;
  height: 24px;
  background-color: #edc531;
  border-radius: 0 12px 12px 0;
}
.ripLine{
  width: 100%;
  border-top: 3px solid #edc531;
  border-top-style: dashed ;
}
.circleRight{
  width: 12px;
  height: 24px;
  background-color: #edc531;
  border-radius: 12px 0 0 12px;
}

/* Ticket Bouncing Animation */
@keyframes bouncingCard {
  from { transform: translateY(0);}
  to {transform: translateY(-18px);}
}
@keyframes bouncingShadow {
  from { transform: translateY(0px);}
  to {transform: translateY(4px);}
}


/* Jackpot Text */


.neon {
   margin: auto;
  margin-top: 12px;
  color: #fff;
  text-shadow: 0 0 10px #0ebeff, 0 0 20px #0ebeff, 0 0 50px #0ebeff,
    0 0 100px #0ebeff, 0 0 200px #0ebeff;
    font-family: "Black And White Picture", system-ui;

}

.hover {
  text-shadow: unset;
  transition: 0.2s;
  cursor: pointer;
}

.hover:hover {
  text-shadow: 0 0 10px #0ebeff, 0 0 20px #0ebeff, 0 0 50px #0ebeff,
    0 0 100px #0ebeff, 0 0 200px #0ebeff;
}

.neon2 {
  --color: #edc531;
  color: #000;
  letter-spacing: 16px;
  cursor: pointer;
  font-family: "Black And White Picture", system-ui;

}



.neon2 span {
  /* animation: flicker 1s linear forwards; */
  animation: flicker 1s linear infinite;

}

.neon2:hover #e {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.neon2:hover #o {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.neon2:hover #n2 {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.neon2:hover #n3 {
  -webkit-animation-delay: 1.8s;
  animation-delay: 1.8s;
}

.neon2:hover #n4 {
  -webkit-animation-delay: 2.10s;
  animation-delay: 2.10s;
}

.neon2:hover #n5 {
  -webkit-animation-delay: 3.16s;
  animation-delay: 3.16s;
}
@keyframes flicker {
  0% {
    color: #333;
  }
  5%,
  15%,
  25%,
  30%,
  100% {
    color: #000;
    text-shadow: 0px 0px 5px var(--color), 0px 0px 10px var(--color),
      0px 0px 20px var(--color), 0px 0px 50px var(--color);
  }
  10%,
  20% {
    color: #333;
    text-shadow: none;
  }
}




h8 {
  /* font-size: calc(20px + 18vh); */
  /* line-height: calc(20px + 20vh); */
  /*   text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
    0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
  color: #fccaff; */
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500,
    0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
  color: #fff6a9;
  /* font-family: "Kanit", cursive; */
  text-align: center;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
}


@-webkit-keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    /*     color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500,
      0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}

@keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    /*     color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500,
      0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}